:root {
    --first: black;
    --secondmain: #8b0031;
    --third: #e53e7e;
    --fourth: hsl(334, 100%, 66%);
    --fifth: #f350a1;
} 

#contactme {
    height: 800px;
    background-color: var(--first);
    background-size: cover;
    display: flex;
}

#contacts {
    height: 800px;
    background-image: linear-gradient(to left, rgba(108, 10, 43, 0.726), rgba(148, 26, 59, 0.381), rgba(1, 1, 1, 0.186));
    width: 100%;
}

h2 {
    text-align: center;
    color: var(--first);
    margin-top: 100px;
    font-size: 60px;
    text-shadow: 0 5px 8px var(--fifth);
}

form {
    color:#ffa7c9;
    width: 400px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--fourth);
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: var(--third);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--secondmain);
}
